body {
    font-family: Arial, Helvetica, sans-serif;
}

.box-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
    padding: 5px 7em 80px 7em;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo ,
.RO-LOGO {
    align-self: center;
    width: 45px;
    height: 45px;
    border-radius: 15px;
}

ul ,
a {
    list-style: none;
    display: flex;
    text-decoration: none;
    font-size: 21px;
    color: #f9faf8;
    gap: 2em;
}

.section-01 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;
    height: 30vh;
}

.content-01 {
    flex-wrap: wrap;
    align-self: center;
    width: 50%;
    padding: 0 25px 0 0;
}

.content-01>h3 {
    font-size: 30px;
    margin: 0
}

.content-01>p {
    line-height: 1.5;
}

.butt-head {
    width: 8em;
    height: 2.2em;
    margin: 10px 0 0 0;
    background-color: #3882f6;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    color: white;
    transition: background-color 0.5s ease;
}

.rag-img  {
    display: flex;
    border: 1px solid grey;
    width: 500px;
    height: 30vh;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
}

.rag-logo {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.box-02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 52vh;
    padding: 0 em 0 em;
}

.header-box02 {
    margin-bottom: 50px;
}
.classes-RO {
    display: flex;
}

.item-01 , .item-02 , .item-03 , .item-04 {
    padding: 10px 0;
    margin: 0 25px 20px 25px;
}

.container {
    border: 2px solid #3882f6;
    border-radius: 15px;
    width: 170px;
    height: 150px;
}

.img1 , .img2 , .img3 , .img4 {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.text {
    display: flex;
    font-size: 16px;
    width: 170px;
    text-align: center;
    align-self: center;
}

.box-03 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 20px 9em 20px 9em;
    height: 45vh;
}

.p2 {
    font-size: 20px;
}

.h4-box03 {
    align-self: flex-end;
    margin-top: 0;
}

.box-04 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 45vh;
}

.CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80%;
    margin: 40px 0 30px 0;
    padding: 0 40px 20px 40px;
    flex-grow: 1;
}

.b4-container1 {
    display: flex;
    background-color: #3882f6;
    border-radius: 15px;
    width: 80%;
    height: 40%;
    color: white;
    padding: 0 35px 10px 0;
}

.content-footer {
    color: white;
    align-self: center;
    border-radius: 15px;
    width: 80%;
    margin: 40px 0 30px 0;
    padding: 0 0 20px 40px;
}

.h4-footer {
    margin: 20px 0 5px 0;
    font-size: 20px;
}

.button {
    align-self: center;
    border: 2px solid white;
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    border-radius: 15px;
    height: 30px;
    width: 140px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.b4-container2 {
    width: 100%;
}

.end , .pend {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #1f2937;
    color: white;
    font-size: 13px;
}

a:hover {
    color: #3882f6;
}

.butt-head:hover {
    background-color: rgba(212, 64, 0, 0.5);
}

.button:hover {
    background-color: rgba(212, 64, 0, 0.5)
}